
@media screen and (min-width: 0px) and (max-width: 510px)  {
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .container1{
        margin-right:0px ;
    }
   
    .middlesection{
        /* display: none; */
        margin-left: 0px;
       margin-right: 0px;
    
    }
    .searchinput{
        display: none;
    }
    .searchinput:active {
        display: flex;
    }

    .voicebtn{
        display: none;
    }
    .searchbtn{
        background-color: white;
        border: none;
      
    }
   
    .rightsection{
        width: 80px;
    }
    .rightsection img:nth-child(1),
    .rightsection img:nth-child(2) {
        display: none;
    }
    .sidebar{
        display:none;
    } 
}
@media screen and (min-width: 511px) and (max-width: 780px) {
    .videogrid {
        grid-template-columns: 1fr;
    }
    .middlesection{
        margin-left: 60px;
        margin-right: 60px;
     }
     .leftsection,.rightsection,.searchinput{
        display: flex;
     }
     .searchinput{
        display: flex;
     }
     
}
@media screen and (min-width: 781px) and (max-width: 1100px) {
    .videogrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1101px) {
    .videogrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .leftsection{
        width: 300px;
     }
}







